@{
    ViewData["Title"] = "Quên Mật Khẩu";
    Layout = "_AuthLayout";
}

<h2 class="auth-title">Quên Mật Khẩu</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info mb-4">
        @TempData["Message"]
    </div>
}

<form asp-action="GoForgotPassword" asp-controller="ForgotPassword" method="post">
    <div class="mb-4">
        <label for="email" class="form-label">Nhập email đã đăng ký của bạn</label>
        <input type="email" id="email" name="email" class="form-control" required placeholder="example@gmail.com">
    </div>
    <button type="submit" class="btn btn-primary w-100">Gửi OTP</button>
</form>

<div class="auth-links mt-4">
    <a href="@Url.Action("Index", "Login")">Quay lại đăng nhập</a>
</div>